[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opensearch-py = "*"
python-dateutil = "*"

[dev-packages]
parameterized = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.10"
