[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opensearch-py = "*"
python-dateutil = "*"
python-ranges = "*"

[dev-packages]
parameterized = "*"
pytest = "*"
mypy = "*"
requests = "*"
types-python-dateutil = "*"
twine = "*"
tox = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
