[tool.poetry]
name = "openmock"
version = "2.3.2"
description = "Python OpenSearch Mock for test purposes"
authors = ["Marcos Cardoso",
    "Mathew Martin <matthewdeanmartin@gmail.com>"]
keywords = ["opensearch", "mocking", "testing"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/matthewdeanmartin/openmock"
homepage = "https://github.com/matthewdeanmartin/openmock"
documentation ="https://github.com/matthewdeanmartin/openmock"

classifiers = [
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
include = [
    "openmock/**/*.py",
    "LICENSE",
    "README.md",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/matthewdeanmartin/openmock/issues"
"Change Log" = "https://github.com/matthewdeanmartin/openmock/blob/main/CHANGES.md"

[tool.poetry.dependencies]
python = ">=3.9"
opensearch-py = "*"
python-dateutil = "*"

# Old python had support up to 1.0.0
# python-ranges  = "1.0.0" # nope!
python-ranges  = "0.2.1"

#{ version = "1.0.0", python = "<=3.8" }
# this is 3.9+ for most recent
# python-ranges  = { version = "^1.2.2", python = ">=3.9" }

[tool.poetry.dev-dependencies]
parameterized = "*"
pytest = "*"
# requests = "*"

[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[[tool.poetry.source]]
name = "pypi-public"
url = "https://pypi.org/simple/"
