name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.7
      with:
        persist-credentials: false
    - name: Install poetry and pipx
      run: |
        pip install poetry && pip install pipx
    - uses: actions/setup-python@v5.1.1
      with:
        python-version: '3.14'
        cache: 'poetry'   # caching poetry dependencies

    - name: Install poetry and pipx
      run: |
        pip install pipx && pip install uv && pipx install uv && pipx install hatchling && uv sync

    - name: Install Dependencies
      run: uv sync --all-extras

    - name: Run just check
      run: chmod +x scripts/*.sh && uv run make check
